@import url('fonts.css');
@import url('options.css');
@import url('loadingterminal.css');
@import url('terminalsupport.css');
@import url('bgsupport.css');
@import url('support.css');
@import url('base.css');

.Options {
    --bg-color: rgb(0, 0, 0);
    --a-color: rgb(255, 255, 255);
    --img-shadow: rgb(255, 255, 255);
    --img-border: rgb(255, 255, 255);
    --img-bg: rgb(0, 0, 0);
    --img-color: rgb(0, 0, 0);
    --nav-bg: rgb(0, 0, 0);
    --nav-color: rgb(0, 0, 0);
    --nav-shadow: rgb(0, 0, 0);
    --button-border: rgb(255, 0, 0);
    --button-padding: 5px 5px;
    --button-hovered: rgb(255, 0, 0);
}