/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&display=swap');

.sarpanch-extrabold {
    font-family: "Sarpanch", serif;
    font-weight: bolder;
    font-style: normal;
}