/* Register Terminal */

.ndp-card {
  background-color: rgb(255, 0, 0, 0.18);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgb(255, 0, 0, 0.18);
  overflow: hidden;
  width: 400px;
}

.ndp-terminal-header {
  background-color: #1f1e1e;
  padding: 10px 15px;
  display: block;
  align-items: center;
}

.ndp-terminal-title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.ndp-terminal-icon {
  color: rgb(255, 0, 0);
}

.ndp-terminal-body {
  background-color: #1f1e1e;
  color: rgb(255, 0, 0);
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
}

.ndp-command-line {
  display: block;
  align-items: center;
}

.ndp-prompt {
  color: rgb(255, 0, 0);
  margin-right: 10px;
}

.ndp-input-wrapper {
  position: relative;
  flex-grow: 1;
}

.ndp-input-field {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 2255);
  font-family: inherit;
  font-size: 14px;
  outline: none;
  width: 100%;
  padding-right: 10px;
}

.ndp-input-field::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.ndp-input-wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 15px;
  background-color: rgb(255, 0, 0);
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.button-reg {
  position: relative;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid rgb(255, 0, 0);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  background: transparent;
  color: white;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button-reg:hover {
  background: rgb(255, 0, 0);
  box-shadow: 0 0 30px 5px rgb(255, 0, 0);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.button-reg:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.button-reg::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.button-reg:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* Feedback Terminal*/
.ndp-input-area {
  background-color: #1f1f1f;
  border-color: #242424;
  color: rgb(255, 255, 2255);
  font-family: inherit;
  font-size: 14px;
  outline: none;
  width: 100%;
  height: 100px;
  padding-right: 10px;
  max-width: 100%;
  max-height: 100px;
  min-width: 100%;
  min-height: 100px;
}

/* Message Terminal*/
.message {
  background-color: rgb(255, 0, 0, 0.18);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgb(255, 0, 0, 0.18);
  overflow: hidden;
  width: 400px;
}

.terminal-header-msg {
  background-color: #1f1e1e;
  padding: 10px 15px;
  display: block;
  align-items: center;
}

.terminal-title-msg {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.terminal-icon-msg {
  color: rgb(255, 0, 0);
}

.terminal-body-msg {
  background-color: #1f1e1e;
  color: rgb(255, 0, 0);
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
}

.command-line-msg {
  display: block;
  align-items: center;
}

.prompt-msg {
  color: rgb(255, 0, 0);
  margin-right: 10px;
}

.input-wrapper-msg {
  position: relative;
  flex-grow: 1;
}

.input-field-msg {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 2255);
  font-family: inherit;
  font-size: 14px;
  outline: none;
  width: 100%;
  padding-right: 10px;
}

.input-field-msg::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-wrapper-msg::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 15px;
  background-color: rgb(255, 0, 0);
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
